<div class="ui stretched grid">
    <div class="stretched row">
        <div class="eight wide column">
            <div class="ui segment">   
                <div class="ui header">   
                    <div class="content">
                        {{ labels.title }}                                            
                    </div>    
                    <div class="right floated content">
                        <div class="ui horizontal basic label">
                            {{ labels.version }} {{ getVersion() }}
                        </div>
                    </div>  
                </div>                
                <div class="ui section divider"></div>            
                <div class="flex mt-4">  
                    <button class="ui button primary icon labeled check-update h-full">  
                        <i class="icon sync"></i>                    
                        {{ labels.check }}
                    </button>   
                    <div class="hidden pl-12 w-full" id="progress_content">
                        <div class="ui indicating progress" id="update_progress">
                            <div class="bar"></div>
                            <div class="label" id+'progress_label'>Check for Updates</div>
                        </div>  
                    </div>                 
                </div>
            </div>           
        </div>  
        <div class="eight wide column">
            <div class="ui segment">
                <div class='ui header'>               
                    <div class="content">
                        {{ labels.product }}
                        <div class="sub header">                       
                        </div>                                   
                    </div>                              
                </div>     
                {{ component('system:admin.packages.store.settings.product',{ product: product }) }}        
            </div>                
        </div>   
    </div>  
    <div class="row">
        <div class="eight wide column">
            <div class="ui segment hidden" id="update_content"> 
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment hidden" id="update_product"> 
            </div> 
        </div>
    </div>
</div>